<div ng-controller="RiskManagementExposureCtrl">

    <div ng-include="'partials/riskmanagement/dialogs/settings/exposure-settings.html'"></div>

    <div class="panel panel-default riskmanagement-panel"
         float-panel
         data-reload="false"
         data-inner-id="exposure">

        <div class="panel-heading">

            <div class="panel-title" id="exposure-panel-title">

                Exposure

                <button class="btn btn-default" data-toggle="collapse" data-target="#exposure-table-settings"
                        aria-expanded="false">
                    <i class="fa fa-filter"></i>
                </button>

                <button class="btn btn-default"
                        ng-click="showSettingsDialog()">
                    <i class="fa fa-cog"></i>
                </button>

                <a class="export-placeholder"></a>

                <i class="fa fa-spinner fa-spin" ng-if="!context.dataloaded && !context.firsttimeload"></i>

            </div>
        </div>

        <div class="panel-body">

            <div ng-include="'partials/riskmanagement/loading.html'"></div>

            <div ng-show="context.dataloaded && context.dataerror">
                {{context.errormessage}}
            </div>

            <div ng-show="(context.dataloaded || !context.firsttimeload) && (!context.dataerror)">

                <div ng-show="items.length == 0">
                    No data
                </div>

                <div ng-show="items.length > 0">

                    <div id="exposure-table-settings" class="collapse">

                        <div class="input-group">

                            <input id="exposurefilter" type="text" class="form-control"
                                   placeholder="Search...">

                            <span class="input-group-btn">

                                <button class="btn btn-default" type="button" ng-click="clearFilter()">

                                    <i class="fa fa-close"></i>

                                </button>

                            </span>
                        </div>

                    </div>

                    <table d-table id="exposuretable" class="compact stripe pretty">

                        <thead>
                        <tr>
                            <th>Instrument</th>
                            <th>Rate</th>
                            <th>B-book</th>
                            <th>A-book</th>
                            <th>A+B</th>
                        </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>

</div>