<div id="valueEdit"
     class="modal fade"
     role="dialog"
     data-backdrop="static"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px">
            <form name="form" class="form-horizontal"
                  ng-submit="editContext.submit()"
                  role="form" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-edit fa-2x"></i>
                        Edit <strong>{{editContext.setting.name}}</strong></h4>
                </div>
                <div class="modal-body">
                    <div ng-include src="'partials/processing.html'"/>
                    <div class="well">{{editContext.setting.description}}</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Value</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   ng-model="editContext.oldValue"
                                   disabled>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Value type</label>

                        <div class="col-sm-9">
                            <select class='form-control' ng-model='editContext.valueType'
									ng-disabled="editContext.setting.singleValueType"
                                    ng-options="key as value for (key, value) in editContext.setting.valueTypes">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div mark-errors>
                            <label class="col-sm-3 control-label">
                                New value</label>

                            <div class="col-sm-9"
                                 ng-show="editContext.valueType!=80">
                                <input id="new-value" type="text" class="form-control"
                                       ng-model="editContext.newValue"
                                       name="newValue"
                                       required
                                       autofocus>
                            </div>
                            <div class="col-sm-9"
                                 ng-show="editContext.valueType==80">
                                <select class='form-control'
                                        ng-model='editContext.newValue'>
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--
                                    <button type="button" class="btn btn-danger pull-left"
                                            ng-disabled="!editContext.setting.isChanged()"
                                            ng-click="editContext.delete()">
                                        Delete
                                    </button>
                    -->
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="form.$invalid">Submit
                    </button>
                    <button type="button" class="btn btn-warning"
                            ng-click="valueEditClose()"
                            data-dismiss="modal">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
