<div id="account-for-commission"
     class="modal fade"
     role="dialog"
     data-backdrop="static"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px">
            <form name="form" class="form-horizontal"
                  ng-submit="editContext.submit()"
                  role="form" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Account for commission</strong>
                    </h4>
                </div>
                <div class="modal-body">
                    <div ng-include src="'partials/processing.html'"/>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Account</label>

                                <div class="col-sm-7">
                                    <input type="text" class="form-control"
                                           ng-model="editContext.newValue"
                                           name="account"
                                           required
                                           disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Filter</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control"
                                           ng-model="context.filter">
                                </div>
                                <div class="col-sm-4">
                                    <div class="btn-group btn-group-justified">
                                        <a href="Javascript:;" class="btn btn-custom"
                                           ng-click="accountFirst()">
                                            &lt;&lt;</a>
                                        <a href="Javascript:;" class="btn btn-custom"
                                           ng-click="accountPrev()">
                                            &lt;</a>
                                        <a href="Javascript:;" class="btn btn-custom"
                                           ng-click="accountNext()">
                                            &gt;</a>
                                        <a href="Javascript:;" class="btn btn-custom"
                                           ng-click="accountLast()">&gt;&gt;</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <div class="border" style="margin-top: 20px; padding: 10px">
                                            <div style="height: 200px; overflow-y: scroll;">
                                                <dl class="dl-horizontal-wide">
                                                    <a href=""
                                                       ng-repeat="a in accounts">
                                                        <dt ng-click="accountSelected(a)">
                                                            {{a.accountn}}
                                                        </dt>
                                                        <dd ng-click="accountSelected(a)">
                                                            {{a.systemid}}
                                                        </dd>
                                                    </a>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            ng-disabled="editContext.newValue==0"
                            class="btn btn-primary">OK
                    </button>
                    <button type="button" class="btn btn-warning"
                            ng-click="valueEditClose()"
                            data-dismiss="modal">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>