<div id="changePassword"
     class="modal fade"
     role="dialog"
     data-backdrop="static"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px">
            <form name="form" class="form-horizontal"
                  ng-submit="changePassword()"
                  role="form" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-key fa-2x"></i>
                        Update password for <strong>{{updatePassword.loginname}}</strong>
                    </h4>
                </div>
                <div class="modal-body">
                    <div ng-include src="'partials/processing.html'"/>
                    <div class="form-group">
                        <div mark-errors>
                            <label class="col-sm-3 control-label">
                                New password</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control"
                                       ng-model="updatePassword.password"
                                       name="password"
                                       id="user-password"
                                       password
                                       required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"
                            ng-disabled="form.$invalid">Submit
                    </button>
                    <button type="button"
                            class="btn btn-warning"
                            data-dismiss="modal">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>