<div id="lockUser"
     class="modal fade"
     role="dialog"
     data-backdrop="static"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px">
            <form name="form" class="form-horizontal"
                  ng-submit="lockUser()"
                  role="form" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-lock fa-2x"></i>
                        <strong>{{lock.loginname}}</strong>
                    </h4>
                </div>
                <div class="modal-body">
                    <div ng-include src="'partials/processing.html'"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Lock for</label>

                        <div class="col-sm-6">
                            <select ng-model="lock.disabletime"
                                    class='form-control'>
                                <option value='forever'>forever</option>
                                <option value='min1'>1 minute</option>
                                <option value='min5'>5 minutes</option>
                                <option value='min15'>15 minutes</option>
                                <option value='hour1'>1 hour</option>
                                <option value='hour4'>4 hours</option>
                                <option value='day'>day</option>
                                <option value='week'>week</option>
                                <option value='month'>month</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Reason</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   ng-model="lock.cause"
                                   id="user-lock"
                                   placeholder="Enter the reason">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-primary">Submit
                    </button>
                    <button type="button"
                            class="btn btn-warning"
                            data-dismiss="modal">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>