<div id="editInstrument"
     class="modal fade"
     role="dialog"
     data-backdrop="static"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding: 10px">
            <form name="form" class="form-horizontal"
                  ng-submit="submitInstrument()"
                  role="form" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pencil-square-o fa-2x"></i>
                        <strong>{{instrument.symbol}}</strong>
                    </h4>
                </div>
                <div class="modal-body">
                    <div ng-include src="'partials/processing.html'"/>
                    <!--
                                        <div class="alert alert-danger"
                                             ng-show="form.maxpipsupdate.$error.integer ||
                                                      form.spread.$error.integer"
                                                >
                                            {{invalidInteger}}
                                        </div>
                                        <div class="alert alert-danger"
                                             ng-show="form.maxpipsupdate.$error.min ||
                                             form.spread.$error.integer"
                                                >
                                            {{positive}}
                                        </div>
                                        <div class="alert alert-danger"
                                             ng-show="form.maxpipsupdate.$error.required ||
                                                      form.spread.$error.required"
                                                >
                                            {{required}}
                                        </div>
                    -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Base symbol</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control"
                                   value="{{instrument.basesymbol}}"
                                   name="basesymbol"
                                   disabled>
                        </div>
                        <label class="col-sm-2 control-label">
                            Derived symbol</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control"
                                   value="{{instrument.derivedsymbol}}"
                                   name="derivedsymbol"
                                   disabled>
                        </div>
                        <label class="col-sm-2 control-label">
                            Type</label>

                        <div class="col-sm-2">
                            <input type="text" class="form-control"
                                   value="{{instrumenttypemap[instrument.instrumenttype]}}"
                                   name="instrumenttype"
                                   disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Spread</label>

                            <div class="col-sm-2">
                                <input type="number" class="form-control"
                                       ng-model="instrument.spread"
                                       name="spread"
                                       id="instrument-edit"
                                       min="0"
                                       title="{{integerType}}"
                                       integer required>
                            </div>
                        </div>

                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Pip position
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.pipposition"
                                       name="pipposition"
                                       type="number" class="form-control"
                                       min="0"
                                       title="{{integerType}}"
                                       integer required>

                            </div>
                        </div>

                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Max pips update</label>

                            <div class="col-sm-2">
                                <input type="number" class="form-control"
                                       ng-model="instrument.maxpipsupdate"
                                       name="maxpipsupdate"
                                       id="maxpipsupdate"
                                       min="0"
                                       title="{{integerType}}"
                                       integer required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Margin requirement</label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.marginrequirement"
                                       name="marginrequirement"
                                       type="number" class="form-control"
                                       min="0"
                                       title="{{integerType}}"
                                       float required>
                            </div>
                        </div>
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Trading State</label>

                            <div class="col-sm-2">
                                <select ng-model="instrument.istraded"
                                       name="istraded"
                                       type="text" class="form-control"
                                       required>
                                       <option value="Traded">Traded</option>
                                       <option value="Disabled">Disabled</option>
                                       <option value="CloseOnly">CloseOnly</option>
                                       <option value="LongOnly">LongOnly</option>
                                </select>
                            </div>
                        </div>
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Day of Triple Rollover</label>

                            <div class="col-sm-2">
                                <select ng-model="instrument.threeDaySwap"
                                       name="threeDaySwap"
                                       type="text" class="form-control"
                                       required>
                                       <option value="Traded">None</option>
                                       <option value="Sunday">Sunday</option>
                                       <option value="Monday">Monday</option>
                                       <option value="Tuesday">Tuesday</option>
                                       <option value="Wednesday">Wednesday</option>
                                       <option value="Thursday">Thursday</option>
                                       <option value="Friday">Friday</option>
                                       <option value="Saturday">Saturday</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Trading period
                            </label>

                            <div class="col-sm-10">
                                <input ng-model="instrument.tradingperiod"
                                       title="0-unlimited
else format must be '10:00-12:00 14:00-24:00 [Sunday 18:00, Friday 16:00]'"
                                       name="tradingperiod"
                                       type="text" class="form-control"
                                        >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Round
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.round"
                                       name="round"
                                       type="number" class="form-control"
                                       min="0"
                                       title="{{integerType}}"
                                       integer required>
                            </div>
                        </div>
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Lot size
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.lotsize"
                                       name="lotsize"
                                       type="number" class="form-control"
                                       min="1"
                                       title="{{integerType}}"
                                       integer required>
                            </div>
                        </div>
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Exchange Ticker
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.exchangeTicker"
                                       name="exchangeTicker"
                                       type="text" class="form-control"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Buy shift
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.basebuyshift"
                                       name="basebuyshift"
                                       type="number" class="form-control"
                                       min="0"
                                       title="{{integerType}}"
                                       integer required>
                            </div>
                        </div>
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Sell shift
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.basesellshift"
                                       name="basesellshift"
                                       type="number" class="form-control"
                                       min="0"
                                       title="{{integerType}}"
                                       integer required>
                            </div>
                        </div>
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Exchange Country Code
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.exchangeCountryCode"
                                       name="exchangecountrycode"
                                       class="form-control"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Interest buy
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.interestbuy"
                                       name="interestbuy"
                                       class="form-control"
                                       float required>
                            </div>
                        </div>
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Interest sell
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.interestsell"
                                       name="interestsell"
                                       class="form-control"
                                       float required>
                            </div>
                        </div>
                        <div mark-errors>
                            <label class="col-sm-2 control-label">
                                Sector
                            </label>

                            <div class="col-sm-2">
                                <input ng-model="instrument.sector"
                                       name="sector"
                                       class="form-control"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <div mark-errors>
                                    <label class="col-sm-2 control-label">
                                        Comment
                                    </label>
        
                                    <div class="col-sm-10">
                                        <input ng-model="instrument.comment"
                                               title="instrument comment "
                                               name="comment"
                                               type="text" class="form-control"
                                                >
                                    </div>
                            </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-primary"
                            ng-disabled="form.$invalid">Submit

                    </button>
                    <button type="button" class="btn btn-warning"
                            data-dismiss="modal">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>