<div id="submitInterestsDialog" class="modal fade" data-keyboard="false" role="dialog" tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content" style="padding: 10px">

            <div class="modal-header">

                <button type="button" ng-disabled="processing" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h5 class="modal-title">
                    <i class="fa fa-cubes fa-2x"></i>
                    <strong>Upload Swaps</strong>
                </h5>

            </div>

            <div class="modal-body">

                <form class="form-horizontal" role="form" novalidate>

                    <label for="csvfile">
                        Iterests for instruments CSV File
                        <br/>Example:
                        <br/>
                        <br/>instrument,sell-interest,buy-interest
                        <br/>"EURUSD",-0.8,0.6
                        <br/>"AUDUSD",-70.78075,53.315
                        <br/>"AUDCHF",-9.78075,3.315
                        <br/>
                        <br/>First line will be ignored
                        <br/>
                        <br/>
                    </label>

                    <input id="csvfile" class="form-control" ng-disabled="processing" file-select file="dailyRatesCSVFile" type="file">

                    <i class="fa fa-spinner fa-spin" ng-if="processing"></i>

                    <div class="redtextcolor" ng-if="errorMessage">
                        {{errorMessage}}
                    </div>

                </form>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary"
                        ng-disabled="processing || !dailyRatesCSVFile"
                        ng-click="processSubmitInterestsDialog()">
                    Upload
                </button>

                <button type="button" ng-disabled="processing" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>

            </div>

        </div>
    </div>
</div>