<div ng-controller="CorporateActionsCtrl">
    <div ng-include src="'partials/processing.html'"/>
    <div>
        <h4>
            <i class="fa fa-pencil-square-o fa-2x"></i>
            <strong>Create Corporate Action</strong>
        </h4>
    </div>
    <div>
        <label class="col-sm-2 control-label">Symbol</label>
        <div class="col-sm-2">
            <input id="corpaction_symbol" ng-model="corpaction.symbol" name="symbol" class="form-control" text required>
        </div>
        <label class="col-sm-2 control-label">Split Amount</label>
        <div class="col-sm-5">
            <div class="col-sm-2">
                <input id="corpaction_dividend" ng-model="corpaction.dividend" name="dividend" type="number" class="form-control" float required>
            </div>
            <div class="col-sm-1">
                :
            </div>
            <div class="col-sm-2">
                <input id="corpaction_divisor" ng-model="corpaction.divisor" name="divisor" type="number" class="form-control" float required>
            </div>
        </div>
    </div>
    <div>
        <button id="corpaction_submit" type="submit" class="btn btn-primary" ng-click="createCorporateAction()">Submit</button>
    </div>
</div>