<div class="pull-right">
    <a href="javascript:;" ng-click="createUnitDialog()"
       ng-show="portalUser.issystemmanager"
       class='btn btn-primary' role='button'>Create unit
    </a>
    <a href="javascript:;" ng-click="createGroupDialog()"
       class='btn btn-primary' role='button'>Create group
    </a>
    <a href="javascript:;" ng-click="createUserDialog()"
       class='btn btn-primary' role='button'>Create user
    </a>
    <a href="javascript:;" ng-click="createAccountDialog()"
       class='btn btn-primary' role='button'>Create account
    </a>
</div>
