<div id="system" class="panel panel-default dashboard-panel"
     data-stateful="true"
     data-inner-id="dashboard-modules"
     float-panel
     ng-controller="ModulesInfoCtrl">
    <div class="panel-heading">
        <div class="panel-title">
            Modules
            <a href=""
               data-toggle="popover"
               data-trigger="hover"
               data-html="true"
               data-placement="right"
               title="<b class='text-danger'>Warning</b>"
               data-content="<p>You will be redirected to logon page after restarting.</p>
                    <p>If you cannot logon after several minutes call system administrator</p>">
                <i class="fa fa-question-circle"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div ng-include src="'partials/loading.html'"/>
        <div ng-show="context.dataloaded&&(!context.dataerror)">
            <div class="row">
                <div class="col-sm-3">Trade server</div>
                <div class="col-sm-2">
                    <modules-no-sign name="Trade server" if="tradeserverstatus=='STOPPED'"></modules-no-sign>
                    <modules-yes-sign name="Trade server" if="tradeserverstatus=='RUNNING'"></modules-yes-sign>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-sm-3">Beacon</div>
                <div class="col-sm-2">
                    <modules-no-sign name="Beacon" if="beaconstatus=='STOPPED'"></modules-no-sign>
                    <modules-yes-sign name="Beacon" if="beaconstatus=='RUNNING'"></modules-yes-sign>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-sm-3">STP</div>
                <div class="col-sm-2">
                    <modules-no-sign name="STP" if="stpstatus=='STOPPED'"></modules-no-sign>
                    <modules-yes-sign name="STP" if="stpstatus=='RUNNING'"></modules-yes-sign>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-sm-3">Reports</div>
                <div class="col-sm-2">
                    <modules-no-sign name="Reports" if="reportStatus=='STOPPED'"></modules-no-sign>
                    <modules-yes-sign name="Reports" if="reportStatus=='RUNNING'"></modules-yes-sign>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-sm-3">Reports Mailer</div>
                <div class="col-sm-2">
                    <modules-no-sign name="reportingmailer" if="reportingmailer=='STOPPED'"></modules-no-sign>
                    <modules-yes-sign name="reportingmailer" if="reportingmailer=='RUNNING'"></modules-yes-sign>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-sm-3">Close Day Invoker</div>
                <div class="col-sm-2">
                    <modules-no-sign name="closedayinvoker" if="closedayinvoker=='STOPPED'"></modules-no-sign>
                    <modules-yes-sign name="closedayinvoker" if="closedayinvoker=='RUNNING'"></modules-yes-sign>
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-sm-3">Data Service</div>
                <div class="col-sm-2">
                    <modules-no-sign name="dataservice" if="dataservicetatus=='STOPPED'"></modules-no-sign>
                    <modules-yes-sign name="dataservice" if="dataservicetatus=='RUNNING'"></modules-yes-sign>
                </div>
            </div>
        </div>
    </div>
</div>

