<nav ng-show="portalUser.loggedIn" class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <span style="cursor: pointer"
                  ng-click="showAboutWin()"
                  class="brand"><img src='images/logo.png'/>
                        </span>
        </div>
        <div id="appMenu">
            <nav class="nav navbar-nav">
                <ul class="nav nav-pills" style="margin-top: 5px">
                    <li>
                        <a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="dropdown dropdown-hover"
                        ng-show="initialized">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Entities
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-if="access.units.Page()">
                                <a href="#/units">Units</a>
                            </li>
                            <li ng-if="access.groups.Page()">
                                <a href="#/groups">Groups</a>
                            </li>
                            <li ng-if="access.users.Page()">
                                <a href="#/users">Users</a>
                            </li>
                            <li ng-if="access.accounts.Page()">
                                <a href="#/accounts">Accounts</a>
                            </li>
                            <li class="divider hidden-lg"></li>
                            <li class="hidden-lg hidden-md"
                                ng-if="access.riskmanagement.Page()">
                                <a href="#/riskmanagement">Risk Management</a>
                            </li>
                            <li class="hidden-lg"
                                ng-if="access.dashboard.Logs()">
                                <a href="#/logs">Logs</a>
                            </li>
                        </ul>
                    </li>


                    <li ng-show="initialized"
                        ng-if="access.instruments.Page()">
                        <a href="#/instruments">Instruments</a>
                    </li>
                    <li class="dropdown dropdown-hover"
                        ng-show="initialized">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Market<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-if="access.trades.Page()">
                                <a href="#/trades">Positions</a>
                            </li>
                            <li ng-if="access.orders.Page()">
                                <a href="#/orders">Pending Orders</a>
                            </li>
                            <li ng-if="access.orders.Page()">
                                <a href="#/corpActions">Historical Positions</a>
                            </li>
                            <li ng-if="access.orders.Page()">
                                <a href="#/corpActions">Historical Orders</a>
                            </li>
                            <li ng-if="access.orders.Page()">
                                <a href="#/corpActions">Corporate Actions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-hover"
                        ng-show="initialized">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Feed
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-if="access.feed.Page()">
                                <a href="#/feed">Live Feed</a>
                            </li>
                            <li ng-if="access.feed.Subscription()">
                                <a href="#/feedsubscription">Instrument Subscription</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-hover"
                        ng-show="initialized">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Reports
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://{{portalUser.username}}:{{portalUser.password}}@{{reportsurl.substring(8)}}/accountsummary" target="_blank">AccountSummary CSV</a>
                            </li>
                            <li>
                                <a href="https://{{portalUser.username}}:{{portalUser.password}}@{{reportsurl.substring(8)}}/depositwithdraw" target="_blank">Deposit/Withdraw CSV</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <ul id="appMenuUser" class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-hover">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-user"></i>
                        <b>{{portalUser.username}}</b>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="left" data-content="{{getPortalUserRolesList()}}">Roles</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="Javascript:" ng-show="dropdownMouseOpen" ng-click="disableDropdownHover()"><i
                                class="fa fa-check"></i> Auto Open Menus</a></li>
                        <li><a href="Javascript:" ng-show="!dropdownMouseOpen" ng-click="enableDropdownHover()"><i
                                class="fa fa-ban"></i> Auto Open Menus</a></li>
                        <li><a href="#/logout"><i class="fa fa-sign-out"></i> Logout </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
